.participants-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table {
  width: 100%;
}

.svg-icon-small {
  height: 20px;
}

.svg-link {
  cursor: pointer;
}

.name-field {
  display: flex;
  gap: 10px;
}

table td.row-controls {
  min-width: unset;
  width: 100px;
}