.participants-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-wrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
}

.svg-icon-small {
  height: 20px;
  min-width: 20px;
}

.svg-icon-medium {
  height: 24px;
  min-width: 24px;
}

.svg-link {
  cursor: pointer;
}

table td.row-controls {
  min-width: unset;
  width: 100px;
}

.row-controls-cell {
  display: none;

  &.changed {
    display: flex;
    gap: 10px;
  }
}

.participants-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 1em;
}

.participant-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--theme-input-bg);
}

.pc-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;

  .name-field {
    display: flex;
    gap: 10px;
    width: 150px;
  }

  .role-field {
    width: 100px;
  }

  .pc-header-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }
}

.pc-body {
  padding: 1em;
  background-color: var(--theme-bg);
  border: 1px solid var(--theme-input-bg);
  border-top: 0;

  &.hidden {
    display: none;
  }
}

.action-button {
  border-radius: 50%;
  border: 0;
  padding: 3px;
  background-color: var(--theme-border-color);
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--theme-elevation-500);
  }
}

.span-green {
  color: var(--color-success-500);
}

.span-red {
  color: var(--color-error-500);
}